.confirmBtn{
    -fx-background-color: #dee7f4;
    -fx-background-radius: 6;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 6;
}

.confirmBtn:hover{
    -fx-effect: dropshadow(three-pass-box, #D3D3D3, 5,0,0,0);
    -fx-cursor: hand;
}

.liveBtn {
    -fx-graphic: url("../img/button/liveOffBtn.png");
    -fx-background-color: 	#00000000;
    -fx-border-color: 	#00000000;
    -fx-cursor: hand;

}

.liveBtn:selected {
    -fx-graphic: url("../img/button/liveOnBtn.png");
    -fx-background-color: 	#00000000;
    -fx-border-color: 	#00000000;
    -fx-cursor: hand;
}
.soundBtn {
    -fx-graphic: url("../img/button/soundOffBtn.png");
    -fx-background-color: 	#00000000;
    -fx-border-color: 	#00000000;
    -fx-cursor: hand;
}

.soundBtn:selected {
    -fx-graphic: url("../img/button/soundOnBtn.png");
    -fx-background-color: 	#00000000;
    -fx-border-color: 	#00000000;
    -fx-cursor: hand;
}

.imageBtn {
    -fx-graphic: url("../img/button/imageOffBtn.png");
    -fx-background-color: 	#00000000;
    -fx-border-color: 	#00000000;
    -fx-cursor: hand;
}
.imageBtn:selected {
    -fx-graphic: url("../img/button/imageOnBtn.png");
    -fx-background-color: 	#00000000;
    -fx-border-color: 	#00000000;
    -fx-cursor: hand;
}


.commentBoard{
    -fx-background-color: #f2f5fb;
    -fx-border-radius: 5;
}
.system_comment{
    -fx-text-fill: red;
}
.user_comment_name{
    -fx-text-fill: blue;
}
.user_comment_text{
    -fx-text-fill: black;
}

.tableBtn{
    -fx-background-color: #00000000;
    -fx-border-color: #00000000;
    -fx-cursor: hand;
}

.table-view {
    -fx-border-width: 1px;
    -fx-border-color: #CACACA;
    -fx-background-color: #f2f5fb;
}
.table-view .column-header {
    -fx-background-color: #f2f5fb;
    -fx-pref-height: 35px;
    -fx-border-width: 1px;
    -fx-border-color: #D9D9D9;
    -fx-border-insets: -2px -2px 0px -2px;
}
.table-row-cell {
    -fx-cell-size: 45px;
}
.table-row-cell .cell {
    -fx-alignment: center;
    -fx-text-fill: #333333;
}
